css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'FbScorpion';
  }
}

.px-\[25px\] {
  padding-left: 25px;
  padding-right: 25px;
}

.w-\[90\%\] {
  width: 100%;
}
